<%- include ('partials/header.ejs') %>

<form action="/add-game" method="POST">
    <label>Name:</label>
    <input type="text" name="name" required>
    <label>Description:</label>
    <textarea name="description" required></textarea>
    <label>Category:</label>
    <input type="text" name="category" required>
    <label>Max Players:</label>
    <input type="number" name="max_players" required>
    <label>Min Players:</label>
    <input type="number" name="min_players" required>
    <label>Average Duration (mins):</label>
    <input type="number" name="average_duration" required>
    <button type="submit">Add Game</button>
</form>

<%- include ('partials/footer.ejs') %>
